DB_ASTERISK_HOST=irc-pgbouncer
DB_ASTERISK_DATABASE=asterisk
DB_ASTERISK_USER=postgres
DB_ASTERISK_PASS=strong_pass
DB_PORT=6432
AST_LOGGER_CONSOLE=verbose,notice,warning,error
AST_LOGGER_MESSAGES=verbose,notice,warning,error,debug
AST_LOGGER_FULL=verbose,notice,warning,error,debug
AST_MANAGER_STATUS=yes
AST_MANAGER_BINDADDR=0.0.0.0
AST_MANAGER_PORT=5038
AST_MANAGER_ADMIN_SECRET=admiro_secret
AST_MANAGER_ADMIN_READ=system,call,log,verbose,command
AST_MANAGER_ADMIN_WRITE=system,call,originate
RPT_START_PORT=10000
RPT_END_PORT=10100
TLS_CERTFILE=/etc/asterisk/keys/fullchain.pem
TLS_PRIVATEKEY=/etc/asterisk/keys/privkey.pem